<!DOCTYPE html>
<html>
<head>
    <title>Upload your data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="/static/js/func.js"></script>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <div class="flex justify-center items-center mt-5">
        <h1 class="text-3xl text-gray-700 font-bold">Upload Train data</h1>
    </div>
     <div class="flex justify-center items-center mt-5">
        <form enctype="multipart/form-data" class="mb-4 ">
            <label class="block">
                <span class="sr-only">Choose profile photo</span>
                <!-- Hidden file input to associate with the custom file button -->
                <input type="file" name="datafile" class="file:mr-4 file:py-2 file:px-4
                    file:cursor-pointer file:border-0
                    file:text-sm file:font-semibold
                    file:bg-green-50 file:text-green-700
                    hover:file:bg-green-100 file-input
                    hidden" />
                <!-- Custom file button -->
                <div class="mt-2 px-6 py-2 border border-transparent text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:border-green-700 focus:ring ring-green-200 active:bg-green-700 transition ease-in-out duration-150 cursor-pointer">
                    Choose Training Data
                </div>
            </label>
            <div id="file-name-display" class="text-sm text-gray-600 mt-1"></div>
            <input type="submit" value="Upload" class="ml-12 mt-2 px-6 py-2 border border-transparent text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:border-green-700 focus:ring ring-green-200 active:bg-green-700 transition ease-in-out duration-150 cursor-pointer"/>
        </form>
     </div>

    <div id="message" style="display:none;" class="hidden p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg"></div><!-- 消息显示区域 -->
    <button id="display-btn" style="display:none;">Display Data</button> <!-- 显示数据按钮 -->
    <div id="data-display" style="display:none;"></div> <!-- 数据显示区域 -->
    <button id="analyze-btn" style="display:none;">Start Data Analysis</button> <!-- 数据分析按钮 -->
    <div id="learning-options" style="display:none;">
        <button id="unsupervised-btn">Unsupervised Learning</button>
        <button id="supervised-btn">Supervised Learning</button>
    </div>
    <div id="supervised-options" style="display:none;">
        <!-- Label for specifying the label column -->
        <label for="label-input">Specify Label:</label>
        <input type="text" id="label-input" placeholder="Enter the label column name">

        <!-- Label for specifying features to exclude -->
        <label for="exclude-features-input">Exclude Features:</label>
        <input type="text" id="exclude-features-input" placeholder="Enter features to exclude, separated by commas">
        <button id="submit-supervised-btn">Set Options</button>
    </div>
    <!-- Visualization button, initially hidden -->
    <button id="visualization" style="display:none;">Visualization Options</button>

    <!-- Analysis buttons, initially hidden -->
    <div id="analysis-options" style="display:none;">
        <button id="histogram-analysis">Histogram Analysis</button>
        <button id="scatter-analysis">Scatter Analysis</button>
        <button id="correlation-analysis">Correlation Analysis</button>
        <button id="start-ml">Start Auto Machine Learning</button>
    </div>
    <div id="ml-options" style="display:none;">
        <button id="classification">Classification</button>
        <button id="regression">Regression</button>
    </div>
    <img id="analysis-image" src="" alt="Analysis Image" style="max-width: 100%; height: auto; display: none;">
    <div id="summary" style="display:none;">
        <h3>Summary of Machine Learning Setup</h3>
        <p><strong>Label:</strong> <span id="summary-label"></span></p>
        <p><strong>Excluded Features:</strong> <span id="summary-excluded-features"></span></p>
        <p><strong>Task Type:</strong> <span id="summary-task-type"></span></p>
        <button id="confirm-training">Confirm and Start Training</button>
    </div>
    <button id="start-testing" style="display:none;">Start Testing</button>
    <div id="test-data-upload" style="display:none;">
        <h2>Upload Test Data</h2>
        <form id="test-data-form" enctype="multipart/form-data">
            <input type="file" name="testdatafile" />
            <input type="submit" value="Upload Test Data" />
        </form>
    </div>
    <div id="message1" style="display:none;"></div> <!-- 消息显示区域 -->
    <div id="upload-response">
        <input type="number" id="threshold-input" placeholder="Enter threshold (optional)" style="display: none;">
        <button id="show-results" style="display:none;">Show Results</button>
        <div id="result-buttons" style="display:none;">
            <!-- Result buttons -->
            <button id="scatter-plot">Scatter Plot</button>
            <button id="f1-score">F1 Score</button>
            <button id="feature-analysis">Feature Analysis</button>
        </div>
        <img id="result-image" src="" alt="Result Image" style="max-width: 100%; height: auto; display: none;">
        <div id="evaluation-message" style="display:none;"></div> <!-- Ensure this is in your HTML -->
    </div>

    <div class="fixed bottom-0 right-0 p-4">
      <img src="static/gouzi.gif" alt="Descriptive Alt Text">
    </div>
    

    
    
    <div id="modal" class="hidden fixed inset-0 overflow-y-auto">
      <div class="flex items-end justify-center min-h-screen text-center">
        <div class="fixed inset-0 bg-gray-500 opacity-75"></div>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all">
          <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Modal Title</h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500" id="modal-body">Your modal content here...</p>
                </div>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm" onclick="toggleModal()">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
